@import "tailwindcss";
@import "../fonts/fonts.css";
@import "./rich-text.css";

* {
    font-family: "Switzer", sans-serif !important;
}

body {
    color: var(--theme-main);
}

:root {
    --easing-ease-slow: cubic-bezier(0.35, 0.15, 0.2, 1);
    @supports (transition-timing-function: linear(0, 0.5, 1)) {
        --easing-ease-slow: linear(
            0,
            0.01421,
            0.0506,
            0.10152,
            0.16123,
            0.22548,
            0.29119,
            0.35615,
            0.41885,
            0.47828,
            0.53384,
            0.58519,
            0.63223,
            0.67499,
            0.7136,
            0.74829,
            0.7793,
            0.8069,
            0.83138,
            0.85302,
            0.8721,
            0.88887,
            0.90358,
            0.91645,
            0.92769,
            0.93749,
            0.94602,
            0.95343,
            0.95987,
            0.96544,
            0.97027,
            0.97444,
            0.97804,
            0.98115,
            0.98383,
            0.98614,
            0.98812,
            0.98983,
            0.99129,
            0.99255,
            0.99363,
            0.99456,
            0.99535,
            0.99603,
            0.99661,
            0.99711,
            0.99754,
            0.9979,
            0.99821,
            0.99848,
            0.9987,
            0.9989,
            0.99906,
            0.9992,
            0.99932,
            0.99942,
            0.99951,
            0.99958,
            0.99965,
            0.9997,
            0.99974,
            0.99978,
            0.99982,
            0.99984,
            0.99987,
            0.99989,
            0.9999,
            0.99992,
            0.99993,
            0.99994,
            1
        );
    }
}
