.s-rich-text {
    ul {
        list-style: decimal;
        list-style-position: outside;
        padding-left: 1.1em;
    }
    & p + p {
        margin-top: 1rem;
    }
    & ul {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    & li {
        margin-bottom: 0.5rem;
        line-height: 1.5;
    }
    & h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    & h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    & h4 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}
