/* Default themes */
:root[data-theme="red"] {
  --theme-main: rgb(176, 20, 42);
  --theme-background: rgb(211, 213, 223);
  --theme-background-opacity: rgb(250, 220, 225);
}
:root[data-theme="blue"] {
  --theme-main: rgb(0, 0, 255);
  --theme-background: rgb(211, 213, 223);
  --theme-background-opacity: rgb(220, 230, 255);
}
:root[data-theme="gray"] {
  --theme-main: rgb(53, 56, 72);
  --theme-background: rgb(211, 213, 223);
  --theme-background-opacity: rgb(235, 236, 240);
}
:root[data-theme="brown"] {
  --theme-main: rgb(3, 45, 68);
  --theme-background: rgb(203, 187, 176);
  --theme-background-opacity: rgb(180, 165, 155);
}
:root[data-theme="green"] {
  --theme-main: rgb(240, 236, 245);
  --theme-background: rgb(100, 111, 88);
  --theme-background-opacity: rgb(65, 75, 58);
}
:root[data-theme="yellow"] {
  --theme-main: rgb(53, 56, 72);
  --theme-background: rgb(255, 222, 47);
  --theme-background-opacity: rgb(255, 240, 150);
}

/* Custom themes */
:root[data-theme="lego"] {
  /* Red */
  --theme-main: rgb(208, 44, 34);
  /* White */
  --theme-background: rgb(255, 255, 255);
  /* Red with 0.7 opacity */
  --theme-background-opacity: rgb(255, 240, 238);
  /* Yellow */
  --theme-custom-color: rgb(252, 238, 79);
}

:root[data-theme="salling-group"] {
  /* White */
  --theme-main: rgb(255, 255, 255);
  /* Salling blue */
  --theme-background: rgb(0, 74, 98);
  /* White with 0.7 opacity */
  --theme-background-opacity: rgb(70, 108, 130);
  /* Tertiary color */
  --theme-custom-color: rgb(255, 228, 175);
}
:root[data-theme="oxygen"] {
  /* White */
  --theme-main: rgb(255, 255, 255);
  /* Oxygen purple */
  --theme-background: rgb(126, 68, 235);
  /* White with 0.7 opacity */
  --theme-background-opacity: rgb(110, 75, 190);
}
:root[data-theme="cernel-ai"] {
  --theme-main: rgb(0, 100, 200);
  --theme-background: rgb(255, 255, 255);
  --theme-background-opacity: rgb(210, 240, 255);
}
:root[data-theme="novicell"] {
  --theme-main: rgb(200, 0, 70);
  --theme-background: rgb(242, 242, 242);
  --theme-background-opacity: rgb(234, 234, 234);
}
